{% extends 'base.html' %}
{% load static %}
{% load  i18n %}
{% block body %}

    <!-- Breadcrumbs Start -->
    <div class="rs-breadcrumbs breadcrumbs-overlay">
        <div class="breadcrumbs-img">
            {% for obj in breadcrumbs %}
            <img class="smallnone" src="{{ obj.about_cover_image.url }}" alt="Blackberrymaz">
            <img class="d-lg-none d-md-none" src="{{ obj.about_cover_image.url }}" alt="Blackberrymaz">
            {% endfor %}
        </div>
        <div class="breadcrumbs-text white-color">
            <h1 class="page-title">Bizim Haqqımızda</h1>

        </div>
    </div>
    <!-- Breadcrumbs End -->
{% for obj in about %}
    <!-- About Section Start -->
    <div id="rs-about" class="rs-about style1 pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-last padding-0 md-pl-15 md-pr-15 md-mb-30">
                    <div class="img-part">
                        <img class="" src="{{obj.image.url}}" alt="blackberrymaz">
                    </div>
                </div>
                <div class="col-lg-6 pr-70 md-pr-15">
                    <div class="sec-title">
                        <h2 class="title mb-17">{{ obj.title}}</h2>
                        <div class="desc">
                            {{ obj.content|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->
    {% endfor %}


{% endblock %}