{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block body %}

<!-- Breadcrumbs Start -->
            <div class="rs-breadcrumbs breadcrumbs-overlay">
                <div class="breadcrumbs-img">
                    {% for obj in breadcrumbs %}
                    <img class="smallnone" src="{{ obj.pro_cover_image.url }}" alt="Breadcrumbs Image">
                    <img class="d-lg-none d-md-none" src="{{ obj.pro_cover_image.url }}" alt="Breadcrumbs Image">
                    {% endfor %}
                </div>
                <div class="breadcrumbs-text white-color">
                    <h1 class="page-title">{% trans 'Məhsullarımız' %}</h1>
                </div>
            </div>
            <!-- Breadcrumbs End -->            

    	   <!--Shop part start-->
            <div class="rs-shop-part orange-color pt-130 pb-130 md-pt-80 md-pb-80">
                <div class="container">
                    <div class="row rs-vertical-middle shorting mb-25">
                        <div class="col-sm-6 col-12">
                            <p class="woocommerce-result-count"></p>
                        </div>
                    </div>
                    <div class="row">
                        {% for obj in product_list %}
                        <div class="col-lg-4 col-md-6 col-12 mb-53">
                            <div class="product-list">
                                <div class="image-product">
                                    <a href="{{ obj.get_absolute_url }}"><img src="{{obj.image.url}}"></a>
                                </div>
                                <div class="content-desc text-center">
                                    <h2 class="loop-product-title pt-15"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h2>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!--Shop part end-->


{% endblock %}