{% extends 'base.html' %}
{% load  static %}
{% load  i18n %}
{% block body %}
    <!-- Breadcrumbs Start -->
    <div class="rs-breadcrumbs breadcrumbs-overlay">
        <div class="breadcrumbs-img">
            <img class="smallnone" src="{{ obj.c_image.url }}" alt="Breadcrumbs Image">
            <img class="d-lg-none d-md-none" src="{{ obj.c_image_m.url }}" alt="Breadcrumbs Image">
        </div>
        <div class="breadcrumbs-text white-color">
            <h1 class="page-title">{{ obj.title }}</h1>

        </div>
    </div>
    <!-- Breadcrumbs End -->

    <!-- Shop Single Start -->
    <div id="rs-single-shop" class="rs-single-shop shop-rp orange-color pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 sm-mb-30">
                    <div class="single-product-image">
                        <div class="images-single">
                            <img src="{{ obj.image.url }}" alt="Single Product">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="single-price-info pl-30">
                        <h4 class="product-title">{{ obj.title }}</h4>
                        <p class="some-text">
                            {{ obj.content|safe }}
                        </p>

                    </div>
                </div>
            </div>

            <div class="tab-area">
                <ul class="nav nav-tabs">
                    <li><a class="active" href="#one" data-bs-toggle="tab">{% trans 'Qiymətlər' %}</a></li>
                </ul>

                <div class="tab-pane" id="one">
                    <div class="reviews-grid">
                        <div class="top-area">
                            <div class="panel">
                                <div class="pricing-plan">
                                    <h3 class="pricing-header">{% trans 'Qiymətlər' %}</h3>
                                    <ul class="pricing-features">
                                        {% for obj in price_obj %}
                                        <li class="pricing-features-item"><span class="qramm"> {{ obj.size }} </span>{{ obj.price}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- #two -->
            </div>
        </div><!-- .tab-area -->
    </div>
    </div>
    <!-- Shop Single Start -->
    <hr>
    <!--Shop part end-->
    <div class="rs-shop-part orange-color pb-125 md-pb-75">
        <div class="container">
            <h4 class="mb-40">{% trans 'Digər məhsullarımız' %}</h4>
            <div class="row">
                {% for obj in popular_products %}
                <div class="col-lg-4 col-md-6 col-12 md-mb-45">
                    <div class="product-list">
                        <div class="image-product">
                            <a href="{{ obj.get_absolute_url }}"><img src="{{obj.image.url}}" alt="{{ obj.title }}"></a>
                        </div>
                        <div class="content-desc text-center">
                            <h2 class="loop-product-title pt-15"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h2>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--Shop part end-->
{% endblock %}