{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block body %}

    <!-- Breadcrumbs Start -->
    <div class="rs-breadcrumbs breadcrumbs-overlay">
        <div class="breadcrumbs-img">
            <img class="smallnone" src="/static/assets/images/breadcrumbs/2.jpg" alt="Breadcrumbs Image">
            <img class="d-lg-none d-md-none" src="/static/assets/images/breadcrumbs/7.jpg" alt="Breadcrumbs Image">
        </div>
        <div class="breadcrumbs-text white-color padding">
            <h1 class="page-title white-color">{% trans 'Bizimlə əlaqə' %}</h1>
        </div>
    </div>
    <!-- Breadcrumbs End -->

    <!-- Contact Section Start -->
    <div class="contact-page-section pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
            {% for obj in settings %}
                <div class="row rs-contact-box mb-90 md-mb-50">
                    <div class="col-lg-4 col-md-12-4 lg-pl-0 sm-mb-30 md-mb-30">
                        <div class="address-item">
                            <div class="icon-part">
                                <img src="/static/assets/images/contact/icon/1.png" alt="">
                            </div>
                            <div class="address-text">
                                <span class="label">{% trans 'Ünvan' %}</span>
                                <span class="des">{{ obj.adress }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 lg-pl-0 sm-mb-30 md-mb-30">
                        <div class="address-item">
                            <div class="icon-part">
                                <img src="/static/assets/images/contact/icon/2.png" alt="">
                            </div>
                            <div class="address-text">
                                <span class="label">{% trans 'E-mail' %}</span>
                                <span class="des"><a href="mailto:{{ obj.email }}">{{ obj.email }}</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 lg-pl-0 sm-mb-30">
                        <div class="address-item">
                            <div class="icon-part">
                                <img src="/static/assets/images/contact/icon/3.png" alt="">
                            </div>
                            <div class="address-text">
                                <span class="label">{% trans 'Telefon' %}</span>
                                <span class="des"><a href="tel:{{ obj.number }}">{{ obj.number }}</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center">
                <div class="col-lg-6 md-mb-30">
                    <!-- Map Section Start -->
                    <div class="contact-map3">
                        <iframe src="{{ obj.g_adress }}"></iframe>
                    </div>
                </div>
            {% endfor %}
            <div class="col-lg-6 pl-60 md-pl-15">
                <div class="contact-comment-box">
                    <div class="inner-part">
                        <h2 class="title mb-mb-15">{% trans 'Bizimlə əlaqə saxlayın' %}</h2>
                        <p>{% trans 'Bəzi təklifləriniz var və ya sadəcə salam demək istəyirsiniz? Dəstək komandamız 7/24 sizə kömək etməyə hazırdır' %}.</p>
                    </div>
                    <form action="" method="POST" enctype="multipart/form-data" onclick="">
                        {% csrf_token %}
{#                        <input type="hidden" name="_captcha" value="false">#}
{#                        <input type="hidden" name="_next" value="https://caucasustech.herokuapp.com/contact">#}
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="Name" class="form-label">{% trans 'Ad' %}</label>
                                <input type="text" name="name" class="form-control" id="name" placeholder="{% trans 'Ad' %}"
                                       required>
                            </div>

                            <div class="col-sm-6">
                                <label for="Email" class="form-label">{% trans 'E-mail' %}</label>
                                <input type="email" name="email" class="form-control" id="email"
                                       placeholder="you@example.com" required>
                                <div class="invalid-feedback">
                                    {% trans 'Please enter a valid email address.' %}
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="Subject" class="form-label">{% trans 'Mövzu' %}</label>
                                <input type="text" name="subject" class="form-control" id="subject"
                                       placeholder="{% trans 'Mövzu' %}" required>
                            </div>

                            <div class="col-sm-6">
                                <label for="Phone" class="form-label">{% trans 'Nömrə' %}</label>
                                <input type="text" name="phone" class="form-control" id="phone" placeholder="{% trans 'Nömrə' %}"
                                       value="" required>
                                <div class="invalid-feedback">
                                    {% trans 'Valid Number is required' %}.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="message">{% trans 'Mesaj' %}</label>
                                <textarea name="message" type="text" id="message"
                                          placeholder="{% trans 'Mesaj' %}"></textarea>
                            </div>

                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn  btn-lg" id="button" type="submit">{% trans 'Göndər' %}</button>
                    </form>

                </div>
            </div>
            </div>
        </div>
        <!-- Contact Section End -->

        {% if messages %}
            {% for message in messages %}
                <script type="text/javascript">
                    alert('{{ message }}')
                </script>

            {% endfor %}
        {% endif %}
    </div>
{% endblock %}