
.panel {
    background-color: #e2f7fa;
    border-radius: 10px;
    padding: 15px 50px;
    max-width: 450px;
    max-height: 310px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
}
.pricing-plan:last-child {
    border-bottom: none;
}



.pricing-header {
    color: #312525;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 50px 0 25px;
    color: #030303;
}


.pricing-features-item {
    font-weight: 5000;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 0.5;
    padding: 15px 0;
    border-top: 1px solid #cbdde0;
}

li {
    margin-top: 5px;
}

.pricing-features-item:last-child{
    border-bottom: 1px solid #c2d4d7;
}

hr{
    margin-bottom: 50px;
    width: 80%;
    margin-left: 150px;
    color: #ccdfe2;
}

@media (min-width: 900px){
    .panel {
        /* flex-direction: row; */
    }
    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding: 25px 50px;
    }
    .pricing-plan:last-child {
        border-right: none;
    }
}

.qramm{
    margin-right: 150px;
}