{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<!DOCTYPE html>
<html lang="az" xml:lang="az">
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>BlackBerrym - Meyvə cipsi</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    {% for obj in settings %}
        <link rel="apple-touch-icon" href="{{ obj.favicon.url }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ obj.favicon.url }}">
    {% endfor %}
    <!-- Bootstrap v5.0.2 css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/languagemenu.css' %}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css' %}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/owl.carousel.css' %}">
    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/slick.css' %}">
    <!-- off canvas css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/off-canvas.css' %}">
    <!-- linea-font css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/linea-fonts.css' %}">
    <!-- flaticon css  -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/flaticon.css' %}">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/magnific-popup.css' %}s">
    <!-- Main Menu css -->
    <link rel="stylesheet" href="{% static 'assets/css/rsmenu-main.css' %}">
    <!-- spacing css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/rs-spacing.css' %}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}?{% now "U" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/prices.css' %}?{% now "U" %}">
    <!-- This stylesheet dynamically changed from style.less -->
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="defult-home">

<!--Preloader area start here-->
<div id="loader" class="loader orange-color">
    <div class="loader-container">
        <div class='loader-icon'>
            {% for obj in settings %}
                <img src="{{ obj.proloader_logo.url }}" alt="">
            {% endfor %}
        </div>
    </div>
</div>
<!--Preloader area End here-->

<!-- Main content Start -->
<div class="main-content">
    <!--Full width header Start-->
    <div class="full-width-header home8-style4 main-home">
        <!--Header Start-->
        <header id="rs-header" class="rs-header">
            <!-- Menu Start -->
            <div class="menu-area menu-sticky">
                <div class="container">
                    <div class="row y-middle">
                        <div class="col-lg-2">
                            <div class="logo-cat-wrap">
                                <div class="logo-part">
                                    <a href="{% url 'mainapp:index' %}">
                                        {% for obj in settings %}
                                            <img class="normal-logo" src="{{ obj.dark_logo.url }}" alt="blackberrymaz">
                                            <img class="sticky-logo" src="{{ obj.logo.url }}" alt="blackberrymaz">
                                        {% endfor %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 text-end">
                            <div class="rs-menu-area">
                                <div class="main-menu">
                                    <div class="mobile-menu">
                                        <a class="rs-menu-toggle">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                    </div>
                                    <nav class="rs-menu">
                                        <ul class="nav-menu">
                                            <li class="mega-rs  current-menu-item"><a
                                                    href="{% url 'mainapp:index' %}">{% trans 'Ana səhifə' %}</a>

                                            </li>

                                            <li class="mega-rs">
                                                <a href="{% url 'mainapp:products' %}">{% trans 'Məhsullarımız' %}</a>
                                            </li>


                                            <li class="mega-rs">
                                                <a href="{% url 'mainapp:about' %}">{% trans 'Haqqımızda' %}</a>
                                            </li>


                                            <li class="mega-rs">
                                                <a href="{% url 'mainapp:contact' %}">{% trans 'Bizimlə əlaqə' %}</a>
                                            </li>

                                            {% get_current_language as LANGUAGE_CODE %}
                                            {% for lang in LANGUAGES %}
                                                <li class="mega-rs d-lg-none">
                                                    <a id="azlanguage"
                                                       href="/{{ lang.0 }}/{{ request.get_full_path|slice:"4:" }}">{{ lang.0 }}</a>
                                                </li>
                                            {% endfor %}


                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg">
                            <div class="nav-wrapper">
                                <div class="sl-nav hidden-sm hidden-md">
                                    <ul>
                                        {% get_current_language as LANGUAGE_CODE %}
                                        <li>
                                            {% if LANGUAGE_CODE == 'az' %}
                                                <a id="alink">
                                                    AZ
                                                </a> <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            {% elif LANGUAGE_CODE == 'en' %}
                                                <a id="alink">
                                                    EN
                                                </a> <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            {% elif LANGUAGE_CODE == 'ru' %}
                                                <a id="alink">
                                                    RU
                                                </a> <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            {% endif %}
                                            <div class="triangle"></div>

                                            <ul>

                                                {% get_current_language as LANGUAGE_CODE %}
                                                {% for lang in LANGUAGES %}
                                                    {% if lang.0 == 'az' %}
                                                        <li><i class="sl-flag flag-aze">
                                                            <div id="Az"></div>
                                                        </i> <a id="blink"
                                                                href="/{{ lang.0 }}/{{ request.get_full_path|slice:"4:" }}">AZ</a>
                                                        </li>
                                                    {% elif lang.0 == 'ru' %}
                                                        <li><i class="sl-flag flag-ru">
                                                            <div id="Rus"></div>
                                                        </i> <a id="blink"
                                                                href="/{{ lang.0 }}/{{ request.get_full_path|slice:"4:" }}">RU</a>
                                                        </li>
                                                    {% elif lang.0 == 'en' %}
                                                        <li><i class="sl-flag flag-usa">
                                                            <div id="Usa"></div>
                                                        </i> <a id="clink"
                                                                href="/{{ lang.0 }}/{{ request.get_full_path|slice:"4:" }}">EN</a>
                                                        </li>

                                                    {% endif %}

                                                {% endfor %}


                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu End -->

            <!-- Canvas Menu start -->

            <!-- Canvas Menu end -->
        </header>
        <!--Header End-->
    </div>
    <!--Full width header End-->

    {% block body %}

    {% endblock %}


</div>
<!-- Main content End -->

<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer home9-style main-home">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                {% for obj in settings %}
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
                        <div class="footer-logo mb-30">
                            <a href="{% url 'mainapp:index' %}"><img src="{{ obj.footer_logo.url }}"
                                                                     alt="blackberrymaz"></a>
                        </div>

                        <ul class="footer_social">
                            <li>
                            <li>
                                <a href="https://www.instagram.com/BlackBerrym.az/" target="_blank"><span><i
                                        class="fa fa-instagram"></i></span> {% trans 'Instagram' %}</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
                        <h3 class="widget-title">{% trans 'Ünvan' %}</h3>
                        <ul class="address-widget">
                            <li>
                                <i class="flaticon-location"></i>
                                <div class="desc">{{ obj.adress }}</div>
                            </li>
                            <li>
                                <i class="flaticon-call"></i>
                                <div class="desc">
                                    <a href="tel:{{ obj.number }}">{{ obj.number }}</a>
                                </div>
                            </li>
                            <li>
                                <i class="flaticon-email"></i>
                                <div class="desc">
                                    <a href="mailto:{{ obj.email }}">{{ obj.email }}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
                <div class="col-lg-3 col-md-12 col-sm-12 pl-50 md-pl-15 footer-widget md-mb-50">
                    <h3 class="widget-title">{% trans 'MÜNDƏRİCAT' %}</h3>
                    <ul class="site-map">
                        <li><a href="{% url 'mainapp:products' %}">{% trans 'Məhsullar' %}</a></li>
                        <li><a href="{% url 'mainapp:about' %}">{% trans 'Haqqımızda' %}</a></li>
                        <li><a href="{% url 'mainapp:contact' %}">{% trans 'Bizimlə əlaqə' %}</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
                    <h3 class="widget-title">{% trans 'Yeni Məhsulumuz' %}</h3>

                    {% for obj in last_products %}
                        <div class="recent-post mb-20 md-pb-0">
                            <div class="post-img">
                                <img src="{{ obj.image.url }}" alt="{{ obj.title }}">
                            </div>
                            <div class="post-item">
                                <div class="post-desc">
                                    <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-6 md-mb-20">
                    <div class="copyright">
                        <p>&copy; 2022 {% trans 'Bütün hüquqlar qorunur' %}.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

<!-- start scrollUp  -->
<div id="scrollUp" class="orange-color">
    <i class="fa fa-angle-up"></i>
</div>
<!-- End scrollUp  -->

<!-- Search Modal Start -->
<div class="modal fade search-modal" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel"
     aria-hidden="true">
    <button type="button" class="close" data-bs-dismiss="modal">
        <span class="flaticon-cross"></span>
    </button>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="search-block clearfix">
                <form>
                    <div class="form-group">
                        <input class="form-control" placeholder="Search Here..." type="text">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search Modal End -->

<!-- modernizr js -->
<script src="/static/assets/js/modernizr-2.8.3.min.js"></script>
<script src="/static/assets/js/languagemenu.js"></script>
<!-- jquery latest version -->
<script src="/static/assets/js/jquery.min.js"></script>
<!-- Bootstrap v5.0.2 js -->
<script src="/static/assets/js/bootstrap.min.js"></script>
<!-- Menu js -->
<script src="/static/assets/js/rsmenu-main.js"></script>
<!-- op nav js -->
<script src="/static/assets/js/jquery.nav.js"></script>
<!-- owl.carousel js -->
<script src="/static/assets/js/owl.carousel.min.js"></script>
<!-- Slick js -->
<script src="/static/assets/js/slick.min.js"></script>
<!-- isotope.pkgd.min js -->
<script src="/static/assets/js/isotope.pkgd.min.js"></script>
<!-- imagesloaded.pkgd.min js -->
<script src="/static/assets/js/imagesloaded.pkgd.min.js"></script>
<!-- wow js -->
<script src="/static/assets/js/wow.min.js"></script>
<!-- Skill bar js -->
<script src="/static/assets/js/skill.bars.jquery.js"></script>
<script src="/static/assets/js/jquery.counterup.min.js"></script>
<!-- counter top js -->
<script src="/static/assets/js/waypoints.min.js"></script>
<!-- video js -->
<script src="/static/assets/js/jquery.mb.YTPlayer.min.js"></script>
<!-- magnific popup js -->
<script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
<!-- plugins js -->
<script src="/static/assets/js/plugins.js"></script>
<!-- contact form js -->
<script src="/static/assets/js/contact.form.js"></script>
<!-- main js -->
<script src="/static/assets/js/main.js"></script>
</body>
</html>